/* Quitamos márgenes y paddings por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILO DEL ENCABEZADO */
header {
  width: 100%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* Igual que el fondo */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.contenedor .imagen-central {
  position: absolute;
  top: 200px; /* Ajusta esto como quieras */
  left: 510px; /* Y esto también */
}

.imagen-central img {
  width: 500px; /* Cambia el tamaño aquí si quieres */
  height: auto;
}
