/* Quitamos márgenes y paddings por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILO DEL ENCABEZADO */
header {
  width: 100%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* Igual que el fondo */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 1.2em;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* CONTENIDO PRINCIPAL */
main {
  position: relative;
  height: 100vh;
  background-color: white;
  padding: 40px;
}

/* PROYECTOS "FLOTANDO" */
.proyecto {
  position: absolute;
  /* No pongas text-align aquí */
}

.proyecto:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}

.proyecto-1 {
  top: 160px;
  left: 150px;
  animation: flotando 1.5s ease-in-out infinite;
  animation-delay: 0s;
}
.proyecto-2 {
  top: 50px;
  left: 650px;
  animation: flotando 1.5s ease-in-out infinite;
  animation-delay: 1.2s;
}
.proyecto-3 {
  top: 390px;
  left: 500px;
  animation: flotando 1.5s ease-in-out infinite;
  animation-delay: 1s;
}
.proyecto-4 {
  top: 500px;
  left: 900px;
  animation: flotando 1.5s ease-in-out infinite;
  animation-delay: 0.8s;
}
.proyecto-5 {
  top: 780px;
  left: 800px;
  animation: flotando 1.5s ease-in-out infinite;
  animation-delay: 2.5s;
}

.proyecto-6 {
  top: 670px;
  left: 270px;
  animation: flotando 1.5s ease-in-out infinite;
  animation-delay: 1.7s;
}

.proyecto-7 {
  top: 180px;
  left: 1100px;
  animation: flotando 2s ease-in-out infinite;
  animation-delay: 3s;
}
.proyecto img {
  border: 1px solid rgb(0, 0, 0);
}

.etiqueta {
  display: block;
  width: fit-content;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 4px 10px;
  font-size: 0.8em;
  margin-top: 8px;
  text-align: center; /* centrado del texto DENTRO de la caja */
}

.img-1 {
  width: 230px;
}

.img-2 {
  width: 280px;
}

.img-3 {
  width: 180px;
}

.img-4 {
  width: 230px;
}

.img-5 {
  width: 280px;
}

.img-6 {
  width: 180px;
}

.img-7 {
  width: 280px;
}

/* Animación de flotación */
@keyframes flotando {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px); /* Ajusta la intensidad del "bote" */
  }
  100% {
    transform: translateY(0px);
  }
}

/* Aplica la animación a cada proyecto */
.proyecto {
  position: absolute;
}
