/* Quitamos márgenes y paddings por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILO DEL ENCABEZADO */
header {
  width: 100%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* Igual que el fondo */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}
nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.bloque-contenido {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Importante para que no se centren verticalmente */
  gap: 40px; /* Espacio entre texto e imagen */
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

.texto-explicativo {
  margin-top: 6px; /* Distancia desde el vídeo (arriba) */
  margin-left: 60px; /* Distancia desde el lado izquierdo */
  margin-right: 80px; /* (Opcional) margen derecho si quieres simetría */
  padding: 20px; /* Espacio interno del bloque de texto */
  max-width: 800px; /* Limita el ancho del texto para que no sea muy ancho */
  font-size: 1em;
  line-height: 1.6;
}
.bloque-texto h2 {
  font-size: 1em;
  margin-bottom: 10px;
}

.imagen-lateral img {
  width: 300px; /* Ajusta como quieras */
  height: auto;
  margin-top: 30px; /* Distancia desde el vídeo (arriba) */
  margin-left: 60px; /* Distancia desde el lado izquierdo */
  margin-right: 80px; /* (Opcional) margen derecho si quieres simetría */
}
